body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allCakeImg {
  max-width: 250px;
  max-height: 250px;
}

.singleCakeImg {
  max-width: 500px;
  max-height: 500px;
}

#shoppingCartImg {
  max-width: 200px;
  max-height: 200px;
}

#nav {
  max-width: 100px;
  max-height: 100px;
}

#cart {
  max-width: 50px;
  max-height: 50px;
}
