body {
  font-family: sans-serif;
  background-color: #c0d6e0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allCakeImg {
  max-width: 250px;
  max-height: 250px;
}

.singleCakeImg {
  max-width: 500px;
  max-height: 500px;
}

.singleCakeInfo {
  max-width: 250px;
}

.navBar {
  color: #93acb5;
}

#shoppingCartImg {
  max-width: 200px;
  max-height: 200px;
}

.cartBox {
  max-width: 450px;
}

.orderLook {
  padding-top: 5px;
  padding-bottom: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 120px;
  font-size: 35px;
  color: black;
}

#nav {
  max-width: 100px;
  max-height: 100px;
}

#cart {
  max-width: 50px;
  max-height: 50px;
}

#formDiv {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

#checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: crimson;
}

#aftercheckoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  font-size: 35px;
  color: crimson;
}
